<div id="post-{{ post.pk }}" class="panel panel-default post">
		<div class="panel-heading">Head</div>
		<div class="panel-body">
            <a href="{% url 'member:profile' user_pk=post.author.pk %}">{{ post.author.username }}</a>

            {% if post.author == request.user %}
            <form action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger btn-xs">글 삭제</button>
            </form>
            {% endif %}

			<a href="{% url 'post:post_detail' post_pk=post.pk %}">
				<img src="{{ post.photo.url }}" class="img-post">
			</a>
			<div class="body-content">
                <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}{{ next }}{{ num }}" method="POST">
                    {% csrf_token %}
                        <button class="btn btn-default btn-xs">
                            <span class="glyphicon
                            {% if post in user.like_posts.all %}
                            glyphicon-heart
                            {% else %}
                            glyphicon-heart-empty
                            {% endif %}"></span>
                        </button>
                </form>
				<ul id="post-comments-{{ post.pk }}">
					{% for comment in post.comments.all %}
					<li>
                        <span>{{ comment.content }}</span>
                        <form action="{% url 'post:comment_delete' comment_pk=comment.pk %}{{ next }}{{ num }}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-xs">댓글삭제</button>
                        </form>
                    </li>
					{% endfor %}
				</ul>
				<form action="{% url 'post:comment_add' pk=post.pk %}{{ next }}{{ num }}"
					method="POST">
					{% csrf_token %}
					{{ comment_form }}
					<button class="btn btn-primary btn-block">댓글달기</button>
				</form>
			</div>
		</div>
	</div>